#map{
	
	width: 640px;
	height: 360px;
	
}

td, th{
	
	padding: 5px;
	text-align: center;
	border-right: 1px solid white;
	
	
}

th{
	
	border-bottom: 1px solid white;
	
}

table {
    border-collapse: collapse;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

body{
	
	    background: #2C3E50;
    	font-weight: 700;
    	font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
		color: white;
	
}